* {
    box-sizing: border-box;
}
body {
    color: #000;
    padding: 0;
    margin: 0;
    line-height: 1.7;
    font-weight: 300;
    font-size: 1.6rem;
    background-color: #fff;
}
html {
    font-size: 62.5%;
    font-size: 10px;
}
a {
    color: #000;
    text-decoration: none;
}
p {
    padding: 0;
    margin: 0;
}
img {
    vertical-align: middle;
    border-style: none;
}
ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.bg-light {
    background-color: #f8f9fa!important;
    padding: 8rem 0;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    > * {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }
    .col-md-4 {
        @include minWidth(768px) {
            flex: 0 0 auto;
            width: 33.33333333%;
        }
    }
    .col-md-5 {
        @include minWidth(768px) {
            flex: 0 0 auto;
            width: 41.6666666667%;
        }
    }
    .col-md-7 {
        @include minWidth(768px) {
            flex: 0 0 auto;
            width: 58.3333333333%;
        }
    }
    .col-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}
.h-100 {
    height: 100% !important;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-50 {
    margin-bottom: 50px;
}
.bg-danger {
    background-color: #f23a2e!important;
}
.bg-primary {
    background-color: #2f89fc!important;
}
.bg-secondary {
    background-color: #6c757d!important;
}
.bg-success {
    background-color: #8bc34a!important;
}
.bg-warning {
    background-color: #f89d13!important;
}
.title {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 1px;
    color: #000;
}

.rounded {
    border-radius: 0.25rem!important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.tags {
    display: flex;
    gap: 0 10px;
    .tag {
        display: inline-block;
        padding: 2px 13px;
        border-radius: 4px;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 500;
    }
}
.site-section {
    padding: 8rem 0;
}
.pagination-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    .pagination {
        display: flex;
        align-items: center;
        color: #a2a9ce;
        .nav {
            font-size: 14px;
            padding: 5px 12px;
            &:hover {
                background-color: #e9ebf5;
            }
        }
        a {
            color: #76777f;
            display: block;
            border-radius: 4px;
            padding: 3px 12px;
            &.active {
                background-color: #698aff;
                color: #fff;
            }
            &:hover {
                background-color: #698aff;
                color: #fff;
            }
        }
        &__back {
            margin-right: 10px;
        }
        &__next {
            margin-left: 5px;
        }
    }
}
.pt-50 {
    padding-top: 5rem;
}
.border-top {
    border-top: 1px solid #edf0f5 !important;
}
.mb-4 {
    margin-bottom: 2.4rem!important;
}
.gradient {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    }
}
.posts-item {
    &-link {
        display: block;
        position: relative;
        border-radius: 4px;
        background-position: center center;
        background-size: cover;
        overflow: hidden;
    }
    .height-lg {
        height: 100%;
    }
    &__text {
        position: absolute;
        bottom: 0;
        padding: 20px;
        h2 {
            color: #fff;
            font-size: 1.6rem;
            line-height: 1.5;
            font-weight: 300;
        }
        &--date {
            color: rgba(255, 255, 255, 0.5);
            font-size: 1.4rem;
        }
    }
}
.v-height {
    height: 300px;
}
.two-col {
    display: flex;
    justify-content: space-between;
    @include maxWidth(768px) {
        flex-direction: column;
    }
    .posts-item {
        height: 100%;
        width: calc(50% - 15px);
        @include maxWidth(768px) {
            width: 100%;
            margin-bottom: 30px;
        }
    }
}
.category-section {
    .tags {
        margin-left: 20px;
        margin-top: 10px;
    }
}
.order-md-2 {
    @include minWidth(768px) {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}
.img-1 {
    @include maxWidth(768px) {
        height: 400px !important;
        margin-bottom: 30px;
    }
}
.text-center {
    text-align: center;
}
.text-danger {
    color: #f23a2e!important;
}
.d-none {
    display: none !important;
}
